@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  font-family: "Jost", sans-serif;
}

a {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}


.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 50%;
}

.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

/* SCROLLBAR ON SCREENSHOTS */
.screenshots::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.screenshots {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* INFO WINDOW TRANSITION */
.button-transition {
  transition: padding 0.5s ease;
}
.info {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.info-visible {
  opacity: 1;
}


@keyframes appear {
  0% {
    opacity: 0;
    /* transform: translateX(); */
  }
  100% {
    opacity: 1;
    /* transform: translateX(0); */
  }
}

.animate-image {
  animation: appear 1.2s ease-in-out;
}

.gallery-column-1 {
  animation: slideImages 40s linear infinite;
}

.gallery-column-2 {
  animation: slideImages 30s linear infinite;
}

@keyframes slideImages {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
